@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: #FCFAF8;
    --secondary-color: #DC4C3E;
    --hover-color: #F2EFED;
    --active-bg-color: #FFEFE5;
    --border-color: #DDDDDD;
    --selected-color: #06de43;
    --text-color: #666666;
    --placeholder-color: #999999;
    --cancel-button-bg-color: #E5E5E5;
    --cancel-button-text-color: #444444;
    --modal-bg-color: #FFFFFF;
    font-size: 16px;
    font-family: 'Inter', Arial, sans-serif;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

.sidebar {
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 8px 20px 20px 20px;
    flex: 0 0 320px;
    font-size: 0.9rem;
    position: sticky;
    top: 0; 
    overflow-y: auto;
}

.sidebar div {
    border-radius: 8px;
    padding: 8px;
}

.sidebar div[class*="sidebar-item"]:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.active {
    background-color: var(--active-bg-color);
    color: var(--secondary-color);
}

.sidebar div.active:hover {
    background-color: var(--active-bg-color);
}

.sidebar-info {
    display: flex;
    gap: 16px;
    align-items: center;
    width: 100%;
}

.sidebar-icon {
    margin-left: auto;
}

.sidebar-item {
    display: flex;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.project-item {
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 32px;
}

.view-content {
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
}

.today-container, .this-week-container, .all-todos-container, .inbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    width: 100%;
    padding: 16px;
}

.today-header {
    font-size: 1.4rem;
    font-weight: 600;
}

.today-task-count {
    color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    gap: 4px;
}

.todo-item {
    display: flex;
    gap: 8px;
    width: 100%;
    padding: 4px;
}

.todo-content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

hr {
    border: none;
    border-top: 1px solid var(--border-color);
    width: 100%;
}

.todo-title {
    font-size: 0.9rem;
    font-weight: 400;
}

.todo-description, .todo-priority {
    font-size: 0.8rem;
}

.todo-due-hour {
    font-size: 0.8rem;
    color: var(--secondary-color);
    transition: transform 0.5s ease; 
}

.todo-actions i {
    color: var(--secondary-color);
}

.todo-actions i:hover {
    transform: scale(1.1);
}

.custom-checkbox {
    display: inline-block;
    position: relative;
    cursor: pointer;
    font-size: 16px;
    user-select: none;
}

.custom-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
    transition: all 0.2s ease;
}

.custom-checkbox:hover input ~ .checkmark {
    border-color: #2196F3;
}

.custom-checkbox input:checked ~ .checkmark {
    border-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 4px;
    height: 8px;
    border: solid #2196F3;
    border-width: 0 2px 2px 0;
    transform: translate(-50%, -60%) rotate(45deg);
    transition: all 0.2s ease;
}

.custom-checkbox input:checked ~ .checkmark:after {
    display: block;
}

.custom-checkbox:hover .checkmark:after {
    display: block;
    border-color: #ccc;
}

.add-task {
    font-weight: 600;
    color: var(--secondary-color);
    transition: transform 0.2s ease;
}

.add-task:active {
    transform: scale(0.95);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-content {
    background-color: var(--modal-bg-color);
    margin: 10% auto;
    padding: 20px;
    width: 30%;
    border-radius: 10px;
    box-shadow: 0 15px 50px 0 rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 1001;
}

#add-task-form > input[type="text"] {
    width: 100%;
}

.add-task-form {
    display: flex;
    flex-direction: column;
}

.close-button {
    color: #aaa;
    font-size: 1.5rem;
    font-weight: bold;
    align-self: flex-end;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#task-title {
    border: none;
    outline: none;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 4px;
}

#task-title::placeholder, #task-description::placeholder {
    color: var(--placeholder-color);
    opacity: 1;
}

#task-description {
    border: none;
    outline: none;
    font-size: 0.9rem;
    padding: 8px;
    border-radius: 4px;
}

#datetimePicker {
    border: none;
    outline: none;
    font-size: 0.9rem;
    border-radius: 4px;
    width: 100px;
    height: 30px;
    padding-left: 8px;
}

.todo-time-and-priority {
    display: flex;
    gap: 8px;
}

.project-select {
    width: min-content;
    padding: 8px;
    border-radius: 4px;
    font-size: 0.9rem;
    appearance: none;
    border: none;
    outline: none;
}

.project-selector-and-submit {
    display: flex;
    gap: 8px;
}

.custom-select {
    width: max-content;
    user-select: none;
    cursor: pointer;
    font-size: 0.9rem;
}

.select-selected {
    padding: 8px;
    height: 30px;
    border: 1px solid #e6e6e6;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-items {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    z-index: 1;
}

.select-item {
    padding: 8px;
    display: flex;
    align-items: center;
    height: 30px;
}

.select-item:hover {
    background-color: #ddd;
}

.select-item.selected {
    background-color: #f1f1f1;
}

.flag {
    width: 10px;
    height: 10px;
    margin-right: 10px;
    display: inline-block;
}

.flag.high {
    background-color: red;
}

.flag.medium {
    background-color: orange;
}

.flag.low {
    background-color: green;
}

.modal-cancel-button {
    background-color: var(--cancel-button-bg-color);
    color: var(--cancel-button-text-color);
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
    margin-left: auto;
}

.modal-submit-button {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.9rem;
}

.completed .todo-title span,
.completed .todo-description span,
.completed .todo-due-hour span,
.completed .todo-priority span {
    text-decoration: line-through;
}